@model KendoUIProject.task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.talepno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.talepno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bildirimtarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bildirimtarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cozumtarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cozumtarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issahibi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issahibi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>

      

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
